@page "/"

@* <PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. *@

<MudItem md="4">
    <p>Part 1</p>
</MudItem>

<MudItem md="4">
    <p>Part 2</p>
</MudItem>

<MudItem md="4">
    <p>Part 3</p>
</MudItem>

<MudItem md="4">
    <p>Part 4</p>
</MudItem>

